@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* 
body{
  
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


.wrap{
  width: 20%;
  margin-top: 10px;
  margin-left: 0px;
  position: relative;
  top: 0%;
  left: 70%;
  transform: translate(-50%, -50%);
  float: left;
}
*/
:root{
  --yellow: #f5bf23;
  --black: #000;
  --white: #fff;
  --light-color: #666;
  --light-bg: #eee;
  --box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
  --border: .1rem solid rgba(0,0,0, .3);
}

*{
  margin: 0%;
  font-family: 'Open Sans', sans-serif;
}
li a{
    text-decoration: none;
    float: left;
    padding: 2px;
    color: rgba(222, 234, 248, 0.986);
    margin-left: 10px;
    border: 10px solid #00B4CC;
    border-radius: 2px;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: #00B4CC;
    
}

.ulNav{
    list-style-type: none;
    display: flex;
    border: 2px solid #00B4CC;
    width: auto;
    height: 40px;
    background-color: #00B4CC;
    align-items: center;
    margin-top: 0;
    padding: 0;
    overflow: hidden;

}
.inputan {
  margin-left: 50%;
  border: #00B4CC;
}
.searchbar{
  border: 2px solid #1e76da;
  border-radius: 5px;
}
.submitan{
  border: 2px solid #1e76da;
  border-radius: 5px;
}
.sambutan{
  position: absolute;
  width: 25%;
  text-align: center;
}
.btn{
  border: solid 2px;
  border-color: var(--yellow);
  text-decoration: none;
  color: #000;
  border-radius: 30px;
  padding: 5px;
  
  
}
.img-bg{
  width: 100%;
  height: auto;
}
